<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".core.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_monochrome"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NARUCIVANJE_NOVO"
        tools:targetApi="31">

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".view.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.QrScannerActivity" />
        <activity android:name=".view.activity.OdabirJelaPicaActivity" />
        <activity android:name=".view.activity.ModifikacijeActivity" />
        <activity android:name=".view.activity.PregledNarudzbiActivity" />
        <activity android:name=".view.activity.PregledMojihNarudzbiActivity" />
        <activity android:name=".view.activity.ChatActivity" />
        <activity android:name=".view.activity.PracenjeNarudzbeActivity" />
        <activity android:name=".view.activity.AktivneNarudzbeActivity" />
        <activity android:name=".view.activity.PotvrdaNarudzbeActivity" />
        <activity android:name=".view.activity.AzuriranjeNarudzbeActivity" />
        <activity android:name=".view.activity.KuhinjaActivity" />
    </application>


</manifest>